.c-comment__container {
    background-color:rgb(230, 230, 200);
    padding-right:20px;


    .c-comment__input{
        margin-top:30px;
        margin-left:10px;
        margin-bottom:10px;
        height:35px;
        width:250px;
    }
}

.c-comment {
    height:150px;
    width:250px;
    margin-top:40px;
    margin-left:20px;
    border: 1px;

    .c-comment__header {
        background-color:rgba(199, 199, 201, 0.596);
        height:25px;

        .c-comment__date {
            margin-top: -32px;
            padding-left:100px;
        }

        .c-comment__author {
            margin-right:200px;
        }
    }

    .c-comment__data {
        background-color: #fff;
        height: 140px;
        margin: 0;
        border-radius: 0 0 20px 20px;
        text-align: left;
        padding-left: 20px;
        padding-top: 5px;
        overflow-wrap: break-word;
    }
}